body{
    color: #FAFAFA;  
    font-family: 'Brandon Grotesque', sans-serif;
    font-style: italic;
    font-weight: 500;
    background-color: #222222;
}
a{
    text-decoration: none;
    color: #FAFAFA;
}
a:hover{
    color: crimson;
}


li{
    list-style: none; 
}
.nav{
    margin-top: 160px;
}

.nav > ul > li > a{
    font-size: 6em;
}
.container{
    display: block;
    width: 90%;
    /* background-color: aqua; */
    margin: auto;
}

.list{
   
    justify-content: space-around;
    
}


.list, .footer{
    display: flex;
}
.left{
    flex: 3;
    /* background-color: red; */
}
.right{
    font-size: 1.5em;
    flex: 1;
    /* background-color: green; */
}

.footer{
    margin-top: 200px;
}


@media screen and (max-width: 1080px) {

    .container{
        text-align: center;
    }
    .nav > ul, .footer{
        display: inline;
        font-size: 3em ;
    }

}





