*{
    padding: 0;
}
body{
    background-color: #222222;
    color: #FAFAFA;  
    font-family: 'Brandon Grotesque', sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}
div.nav >ul{
    margin-top: 200px;
    
}

li{
    list-style: none;
    display:inline;
    padding: 10px;
    font-size: 1.5em;
}

li > a{
    margin: 0px 0px 0px  0px;
    display: inline;
    font-size: 6em;
    padding: 0 60px;
    line-height: 160px;
    transition: all 500ms ease-in;
    
}
.footer{
    display: inline;
}
ul{
    padding: 0;
}

div{
    display: inline;
    padding: 0;
}

.left{
    display: inline;
    padding: 10px;
}
.right{
    display: inline;
    
}


li>i:hover{
    color:crimson
}
li>a:hover{
    color: crimson;
}


@media screen and (max-width: 700px) {
    li > a{
        font-size: 5em; 
        line-height: 135px;
    
    }

    div.nav >ul{
        margin-top: 20px;
        
    }
  }

@media screen and (max-width: 600px) {
    li > a{
        font-size: 4em; 
        line-height: 130px;
    
    }
  }
  

@media screen and (max-width: 500px) {
    li > a{
        font-size: 4em; 
        line-height: 130px;
    
    }
  }
  
